<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ===================== -->
    <!-- Console Appender -->
    <!-- ===================== -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>


    <!-- ===================== -->
    <!-- Logstash Appender -->
    <!-- ===================== -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>logstash:3535</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <!-- Field tambahan -->
            <customFields>
                {
                    "service":"product-service",
                    "environment":"docker",
                    "application":"Microservice Monitoring",
                    "version":"1.0"
                }
            </customFields>

        </encoder>

    </appender>


    <!-- ===================== -->
    <!-- Root Logger -->
    <!-- ===================== -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>

    </root>

</configuration>